<div class="row">
  <div class="text-center">
    <div class="col-md-6 col-md-offset-3 text-center">
      <img src="assets/images/logo/JPEG72_small_grey.jpg" class="img-responsive" ui-sref="auth.admin" style="cursor: pointer">
    </div>
  </div>
</div>
<div class="row text-center">
  <h3>Forgot your password?</h3>
</div>
<div class="middle-box text-center animated fadeInDown">
  <form class="m-t" role="form">
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Email" ng-model="forgotPasswordCtrl.email">
    </div>
    <button type="submit" class="btn btn-primary block full-width m-b" ng-click="forgotPasswordCtrl.requestPasswordReset()">Request password reset</button>
    <a ui-sref="auth.admin">Login</a>
  </form>
</div>
<cq-modal modal-id="forgot-password-success" hide-submit="true" modal-title="Password reset email sent"></cq-modal>
<cq-modal modal-id="forgot-password-fail" hide-submit="true" modal-title="{{forgotPasswordCtrl.error}}"></cq-modal>
