<div class="wrapper wrapper-content animated ">
  <div class="row">
    <div class="col-md-12">
      <a type="button" class="btn btn-info btn-sm" data-toggle="modal" style="margin-bottom: 10px" ng-click="storeBuyRatesCtrl.downloadRates()">
        <i class="fa fa-download"></i> Download as CSV
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-content">
          <h3 ng-if="!storeBuyRatesCtrl.storeSelected">Select a store to view and set rates</h3>

          <table ng-table="storeBuyRatesCtrl.tableParams" show-filter="true" class="table table-hover issue-tracker">
            <colgroup>
              <col width="20%" />
              <col width="20%" />
              <col width="20%" />
              <col width="20%" />
              <col width="20%" />
            </colgroup>
            <tbody>
            <tr ng-repeat="row in $data track by row._id">
              <td title="'Store name'" filter="{name: 'text'}" sortable="'name'">
                {{row.name}}
              </td>
              <td title="'Sell Rate'" filter="{sellRate: 'text'}" sortable="'sellRate'">
                {{(row.sellRate * 100).toFixed(2)}}%
              </td>
              <td title="'Buy Rate'" filter="{buyRate: 'text'}">
                <input type="text" ng-model="storeBuyRatesCtrl.displayData.buyRates[row._id]" numbers-only="decimal"
                       ng-change="storeBuyRatesCtrl.updateBuyRate(row._id)"> %
              </td>
              <td title="'Card Type'" filter="{cardType: 'text'}" sortable="'cardType'">
                {{row.type}}
              </td>
              <td title="''">
                <img src="assets/images/retailers/{{row._id}}.{{row.imageType}}" ng-if="row.imageUrl && row.imageType">
                <img src="{{row.imageUrl}}" ng-if="row.imageUrl && !row.imageType">
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  td img {
    max-height: 100%;
    max-width: 100%;
  }
</style>

