<div>
  <!-- Electronic cards table -->
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Electronic cards {{complete ? '' : 'added since last reconciliation'}}</h5>
        </div>
        <div class="ibox-content">
          <!--<div class="row">-->
          <!--<div class="col-sm-12">-->
          <!--<div class="input-group"><input type="text" placeholder="Search" class="input-sm form-control"> <span class="input-group-btn">-->
          <!--<button type="button" class="btn btn-sm btn-primary"> Go!</button> </span></div>-->
          <!--</div>-->
          <!--</div>-->
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
              <tr>
                <th>Transaction ID </th>
                <th>Seller name </th>
                <th>Date purchased</th>
                <th>Retailer name</th>
                <th>Type</th>
                <th>Card number</th>
                <th>PIN</th>
                <th>Balance</th>
                <th ng-if="!ctrl.displayData.hideBuyAmount">Buy amount</th>
                <th>CQ Pays</th>
                <th>SMP Code</th>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="inventory in ctrl.displayData.inventory.electronic | filter:ctrl.displayData.cardSearch track by $index" ng-class="{'strong-row': $last}">
                <td>{{inventory.cqTransactionId}}</small></td>
                <td>{{inventory.customer.fullName}}</td>
                <td>{{inventory.created | date:'M/d/yyyy':'UTC'}}</td>
                <td>{{inventory.retailer.name}}</td>
                <td>{{inventory.type}}</td>
                <td>{{inventory.card.number}}</td>
                <td>{{inventory.card.pin}}</td>
                <td>{{inventory.card.balance | currency}}</td>
                <td ng-if="!ctrl.displayData.hideBuyAmount">{{inventory.buyAmount | currency}}</td>
                <td>{{inventory.balance * inventory.liquidationRate | currency}}</td>
                <td>{{inventory.smp}}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Physical cards table -->
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Physical cards {{complete ? '' : 'added since last reconciliation'}}</h5>
        </div>
        <div class="ibox-content">
          <!--<div class="row">-->
          <!--<div class="col-sm-12">-->
          <!--<div class="input-group"><input type="text" placeholder="Search" class="input-sm form-control"> <span class="input-group-btn">-->
          <!--<button type="button" class="btn btn-sm btn-primary"> Go!</button> </span></div>-->
          <!--</div>-->
          <!--</div>-->
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
              <tr>
                <th>Transaction ID </th>
                <th>Seller name </th>
                <th>Date purchased</th>
                <th>Retailer name</th>
                <th>Type</th>
                <th>Card number</th>
                <th>PIN</th>
                <th>Balance</th>
                <th ng-if="!ctrl.displayData.hideBuyAmount">Buy amount</th>
                <th>CQ Pays</th>
                <th>SMP Code</th>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="inventory in ctrl.displayData.inventory.physical | filter:ctrl.displayData.cardSearch track by $index" ng-class="{'strong-row': $last && !highlightOff}">
                <td>{{inventory.cqTransactionId || 'N/A'}}</small></td>
                <td>{{inventory.customer.fullName}}</td>
                <td>{{inventory.created | date:'M/d/yyyy':'UTC'}}</td>
                <td>{{inventory.retailer.name}}</td>
                <td>{{inventory.type}}</td>
                <td>{{inventory.card.number}}</td>
                <td>{{inventory.card.pin}}</td>
                <td>{{inventory.card.balance | currency}}</td>
                <td ng-if="!ctrl.displayData.hideBuyAmount">{{inventory.buyAmount | currency}}</td>
                <td>{{inventory.sellAmount | currency}}</td>
                <td>{{inventory.smp}}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- Denied cards table -->
  <!--<div class="row">-->
  <!--<div class="col-lg-12">-->
  <!--<div class="ibox float-e-margins">-->
  <!--<div class="ibox-title">-->
  <!--<h5>Electronic cards added since last reconciliation</h5>-->
  <!--</div>-->
  <!--<div class="ibox-content">-->
  <!--<div class="row">-->
  <!--<div class="col-sm-12">-->
  <!--<div class="input-group"><input type="text" placeholder="Search" class="input-sm form-control"> <span class="input-group-btn">-->
  <!--<button type="button" class="btn btn-sm btn-primary"> Go!</button> </span></div>-->
  <!--</div>-->
  <!--</div>-->
  <!--<div class="table-responsive">-->
  <!--<table class="table table-striped">-->
  <!--<thead>-->
  <!--<tr>-->
  <!--<th>Transaction ID </th>-->
  <!--<th>Seller name </th>-->
  <!--<th>Date purchased</th>-->
  <!--<th>Retailer name</th>-->
  <!--<th>Type</th>-->
  <!--<th>Card number</th>-->
  <!--<th>PIN</th>-->
  <!--<th>Balance</th>-->
  <!--<th>Buy amount</th>-->
  <!--<th>CQ Paid</th>-->
  <!--<th>Deduction</th>-->
  <!--</tr>-->
  <!--</thead>-->
  <!--<tbody>-->
  <!--<tr ng-repeat="inventory in ctrl.displayData.inventory.denials | filter:ctrl.displayData.cardSearch track by $index">-->
  <!--<td>{{inventory.cqTransactionId || 'N/A'}}</small></td>-->
  <!--<td>{{inventory.customer.fullName}}</td>-->
  <!--<td>{{inventory.created | date}}</td>-->
  <!--<td>{{inventory.retailer.name}}</td>-->
  <!--<td>{{inventory.type}}</td>-->
  <!--<td>{{inventory.card.number}}</td>-->
  <!--<td>{{inventory.card.pin}}</td>-->
  <!--<td>{{inventory.card.balance | currency}}</td>-->
  <!--<td>{{inventory.buyAmount | currency}}</td>-->
  <!--<td>CQ PAID</td>-->
  <!--<td>DEDUCTION</td>-->
  <!--</tr>-->
  <!--</tbody>-->
  <!--</table>-->
  <!--</div>-->
  <!--</div>-->
  <!--</div>-->
  <!--</div>-->
  <!--</div>-->

  <!--<div class="row">-->
  <!--<div class="col-lg-3 col-lg-offset-9">-->
  <!--<div class="ibox">-->
  <!--<div class="ibox-content">-->
  <!--<h5>Balance Total</h5>-->
  <!--<h1 class="no-margins">{{ctrl.getIntakeTotal('denials', 'card', 'balance') | currency}}</h1>-->
  <!--<h5>Buy Amount Total</h5>-->
  <!--<h1 class="no-margins">{{ctrl.getIntakeTotal('denials', 'buyAmount') | currency}}</h1>-->
  <!--<h5>Card Intake Total</h5>-->
  <!--<h1 class="no-margins">{{ctrl.getIntakeTotal('denials', 'balance') | currency}}</h1>-->
  <!--</div>-->
  <!--</div>-->
  <!--</div>-->
  <!--</div>-->

  <hr>
  <div class="row">
    <div class="col-lg-3">
      <div class="ibox">
        <div class="ibox-content">
          <h3>Reconciliation Totals</h3>
          <table class="table table-stripped m-t-md">
            <tbody>
            <tr>
              <td class="no-borders">
                <strong>Balance Total</strong>
              </td>
              <td class="no-borders">
                {{ctrl.displayData.intakeTotal.balance | currency}}
              </td>
            </tr>
            <tr ng-if="!ctrl.displayData.hideBuyAmount">
              <td>
                <strong>Buy Amount Total</strong>
              </td>
              <td>
                {{ctrl.displayData.intakeTotal.buyAmount | currency}}
              </td>
            </tr>
            <tr>
              <td>
                <strong>CQ Pays Total</strong>
              </td>
              <td>
                {{ctrl.displayData.intakeTotal.sellAmount | currency}}
              </td>
            </tr>
            <tr>
              <td>
                <strong>Total Cards Displayed</strong>
              </td>
              <td>
                {{ctrl.displayData.meta.inventories}}
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  .strong-row {
    font-weight: bold;
  }
</style>
