<table
  st-table="displayData.display"
  st-pipe="piper"
  class="table table-striped activity-table activity-revised-table table-bordered"
>
  <!--Widths-->
  <colgroup>
    <!--id-->
    <col style="width:5%" ng-if="corporate && ctrl.displayData.company._id === '587fce2bd01c3fe03bdf85ce'">
    <!--date-->
    <col style="width:5%">
    <!--Date rejected/date paid-->
    <col style="width:5%" ng-if="customerDenial">
    <!--Batch-->
    <col style="width:5%" ng-if="!customerDenial">
    <!--Prefix-->
    <col style="width:5%" ng-if="admin || ctrl.alternativeGcmgr">
    <!--Company-->
    <col style="width:5%" ng-if="admin">
    <!--Store-->
    <col style="width:5%">
    <!--Retailer-->
    <col style="width:5%">
    <!--UserName-->
    <col style="width:5%" ng-if="corporate">
    <!--CustomerName-->
    <col style="width:5%" ng-if="corporate">
    <!--Number-->
    <col style="width:5%">
    <!--Pin-->
    <col style="width:5%">
    <!--Balance-->
    <col style="width:5%">
    <!--SellRate-->
    <col style="width:5%" ng-if="admin">
    <!--CqPaid-->
    <col style="width:5%" ng-if="revised">
    <!--LiquidationSoldFor-->
    <col style="width:5%" ng-if="revised">
    <!--VerifiedBalance-->
    <col style="width:5%">
    <!--Reject/payment amount-->
    <col style="width:5%" ng-if="customerDenial">
    <!--BuyRate-->
    <col style="width:5%" ng-if="corporate && !ctrl.displayData.hideBuyRates">
    <!--BuyAmount-->
    <col style="width:5%" ng-if="corporate && !ctrl.displayData.hideBuyRates">
    <!--CorporateSellRate-->
    <col style="width:5%" ng-if="corporate">
    <!--CqPaidCorp-->
    <col style="width:5%" ng-if="corporate">
    <!--ServiceFee-->
    <col style="width:5%" ng-if="admin">
    <!--TransactionServiceFee-->
    <col style="width:5%">
    <!--NetAmount-->
    <col style="width:5%" ng-if="corporate && !customerDenial">
    <col style="width:5%">
    <col style="width:5%" ng-if="revised">
    <col style="width:5%" ng-if="admin">
    <col style="width:5%" ng-if="corporate">
    <col style="width:5%" ng-if="admin && !revised">
    <col style="width:5%" ng-if="admin && !revised && !customerDenial">
    <col style="width:5%" ng-if="corporate && !customerDenial">
    <col style="width:5%" ng-if="revised && !customerDenial">
    <col style="width:5%" ng-if="revised && !customerDenial">
    <col style="width:5%" ng-if="revised && !customerDenial">
    <col style="width:5%">
    <col style="width:5%" ng-if="(revised || corporate) && !customerDenial">
    <col style="width:5%" ng-if="customerDenial">
  </colgroup>
  <!--/Widths-->
  <!--Head-->
  <thead>
  <tr>
    <!--id-->
    <th ng-if="corporate && ctrl.displayData.company._id === '587fce2bd01c3fe03bdf85ce'">
      <div>ID</div>
    </th>
    <!--date-->
    <th st-sort="created">
      <div>Date Purchased</div>
    </th>
    <!--Date rejected/date paid-->
    <th st-sort="dateRejected" ng-if="customerDenial">
      <div>Denial/Payment Date</div>
    </th>
    <!--Batch-->
    <th st-sort="batch" ng-if="!customerDenial">
      <div>Batch #</div>
    </th>
    <th st-sort="transactionPrefix" ng-if="admin || ctrl.alternativeGcmgr">
      <div>Prefix</div>
    </th>
    <th st-sort="companyName" ng-if="admin">
      <div>Company Name</div>
    </th>
    <th st-sort="storeName">
      <div>Store Name</div>
    </th>
    <th st-sort="retailer_name">
      <div>Retailer</div>
    </th>
    <th st-sort="employeeName" ng-if="corporate">
      <div>Employee Name</div>
    </th>
    <th st-sort="customerName" ng-if="corporate">
      <div>Customer Name</div>
    </th>
    <th st-sort="card_number">
      <div>Card #</div>
    </th>
    <th st-sort="pin_code">
      <div>PIN</div>
    </th>
    <th st-sort="balance">
      <div>Balance</div>
    </th>
    <th st-sort="smpRate" ng-if="admin">
      <div>SMP Rate</div>
    </th>
    <th st-sort="cqPaid" ng-if="revised">
      <div>CQ Paid</div>
    </th>
    <th st-sort="sold_for" ng-if="revised">
      <div>SMP Paid</div>
    </th>
    <th st-sort="verifiedBalance">
      <div>Verified Balance</div>
    </th>
    <th st-sort="rejectAmount" ng-if="customerDenial">
      <div>Reject/Payment Amount</div>
    </th>
    <th st-sort="buyRate" ng-if="corporate && !ctrl.displayData.hideBuyRates">
      <div>Buy Rate</div>
    </th>
    <th st-sort="buyAmount" ng-if="corporate && !ctrl.displayData.hideBuyRates">
      <div>Buy Amount</div>
    </th>
    <th st-sort="sellRate" ng-if="corporate">
      <div>Sell Rate</div>
    </th>
    <th st-sort="saleAfterMargin" ng-if="corporate">
      <div>CQ Paid</div>
    </th>
    <th st-sort="serviceFee" ng-if="admin">
      <div>Service Fee</div>
    </th>
    <th st-sort="netAmount">
      <div>Net Amt</div>
    </th>
    <th st-sort="margin" ng-if="corporate && !customerDenial">
      <div>Margin</div>
    </th>
    <th st-sort="type">
      <div>Type</div>
    </th>
    <th st-sort="sold_to" ng-if="revised">
      <div>SMP</div>
    </th>
    <th st-sort="activityStatus" ng-if="admin">
      <div>Ship Status</div>
    </th>
    <th st-sort="buyerShipStatus" ng-if="corporate">
      <div>Ship Status</div>
    </th>
    <th st-sort="paidStatus" ng-if="admin && !revised">
      <div>Paid Status</div>
    </th>
    <th st-sort="ach" ng-if="admin && !revised && !customerDenial">
      <div>ACH</div>
    </th>
    <th st-sort="cqAch" ng-if="corporate && !customerDenial">
      <div>ACH</div>
    </th>
    <th st-sort="orderNumber" ng-if="revised && !customerDenial">
      <div>Order #</div>
    </th>
    <th st-sort="smpAch" ng-if="revised && !customerDenial">
      <div>SMP ACH</div>
    </th>
    <th st-sort="cqAch" ng-if="revised && !customerDenial">
      <div>CQ ACH</div>
    </th>
    <th st-sort="deduction">
      <div>Deduction</div>
    </th>
    <th st-sort="adminActivityNote" ng-if="(revised || corporate) && !customerDenial">
      <div>Notes</div>
    </th>
    <th st-sort="rejectionRunningTotal" ng-if="customerDenial">
      <div>Amount Owed</div>
    </th>
  </tr>
  <tr>
    <!--id-->
    <th ng-if="corporate && ctrl.displayData.company._id === '587fce2bd01c3fe03bdf85ce'">
      <div>
        <input st-search="_id" class="input-sm form-control" type="search" />
      </div>
    </th>
    <!--date-->
    <th>
      <div></div>
    </th>
    <!--Date rejected/date paid-->
    <th ng-if="customerDenial">
      <div></div>
    </th>
    <!--Batch-->
    <th ng-if="!customerDenial">
      <div>
        <!--<input st-search="batch" class="input-sm form-control" type="search"/>-->
        <select st-search="batch" class="activity-select-header">
          <option></option>
          <option value="{{batch._id}}" ng-repeat="batch in ctrl.displayData.params.batches track by $index">
            {{batch.batchId}}
          </option>
        </select>
      </div>
    </th>
    <!--Prefix-->
    <th ng-if="admin || ctrl.alternativeGcmgr">
      <div>
        <input st-search="transactionPrefix" class="input-sm form-control" type="search"/>
      </div>
    </th>
    <!--Company-->
    <th ng-if="admin">
      <div>
        <select st-search="company" class="activity-select-header">
          <option></option>
          <option value="{{company._id}}" ng-repeat="company in ctrl.displayData.params.companies track by $index">
            {{company.name}}
          </option>
        </select>
      </div>
    </th>
    <!--Store-->
    <th>
      <div>
        <select st-search="store" class="activity-select-header">
          <option></option>
          <option value="{{store._id}}" ng-repeat="store in ctrl.displayData.params.stores track by $index">
            {{store.name}}
          </option>
        </select>
      </div>
    </th>
    <!--Retailer-->
    <th>
      <div>
        <input st-search="retailer" class="input-sm form-control" type="search"/>
      </div>
    </th>
    <!--UserName-->
    <th ng-if="corporate">
      <div></div>
    </th>
    <!--CustomerName-->
    <th ng-if="corporate">
      <div>
        <input st-search="customerName" class="input-sm form-control" type="search"/>
      </div>
    </th>
    <!--Number-->
    <th>
      <div>
        <input st-search="number" class="input-sm form-control" type="search"/>
      </div>
    </th>
    <!--Pin-->
    <th>
      <div>
        <input st-search="pin" class="input-sm form-control" type="search"/>
      </div>
    </th>
    <!--Balance-->
    <th>
      <div>
        <input st-search="balance" class="input-sm form-control" type="search" numbers-only="decimal" ng-model="ctrl.balanceSearch"/>
      </div>
    </th>
    <!--SellRate-->
    <th ng-if="admin">
      <div>
        <!--<input st-search="liquidationRate" class="input-sm form-control" type="search"/>-->
      </div>
    </th>
    <!--CqPaid-->
    <th ng-if="revised">
      <div>
        <!--<input st-search="cqPaid" class="input-sm form-control" type="search"/>-->
      </div>
    </th>
    <!--LiquidationSoldFor-->
    <th ng-if="revised">
      <div>
        <input st-search="liquidationSoldFor" class="input-sm form-control" type="search"/>
      </div>
    </th>
    <!--VerifiedBalance-->
    <th>
      <div>
        <input st-search="verifiedBalance" class="input-sm form-control" type="search"/>
      </div>
    </th>
    <!--Reject/payment amount-->
    <th ng-if="revised">
      <div></div>
    </th>
    <!--BuyRate-->
    <th ng-if="corporate && !ctrl.displayData.hideBuyRates">
      <div>
        <input st-search="buyRate" class="input-sm form-control" type="search"/>
      </div>
    </th>
    <!--BuyAmount-->
    <th ng-if="corporate && !ctrl.displayData.hideBuyRates">
      <div>
        <input st-search="buyAmount" class="input-sm form-control" type="search"/>
      </div>
    </th>
    <!--CorporateSellRate-->
    <th ng-if="corporate">
      <div>
        <input st-search="liquidationRate" class="input-sm form-control" type="search"/>
      </div>
    </th>
    <!--CqPaidCorp-->
    <th ng-if="corporate">
      <div>
        <!--<input st-search="saleAfterMargin" class="input-sm form-control" type="search"/>-->
      </div>
    </th>
    <!--ServiceFee-->
    <th>
      <div>
        <!--<input st-search="netAmount" class="input-sm form-control" type="search"/>-->
      </div>
    </th>
    <!--TransactionServiceFee-->
    <th ng-if="corporate && !customerDenial">
      <div>
        <!--<input st-search="margin" class="input-sm form-control" type="search"/>-->
      </div>
    </th>
    <!--NetAmount-->
    <th>
      <div>
        <select st-search="type" class="activity-select-header">
          <option></option>
          <option value="electronic">
            Electronic
          </option>
          <option value="physical">
            Physical
          </option>
        </select>
      </div>
    </th>
    <!--NetPayout-->
    <th ng-if="revised">
      <div>
        <select st-search="smp" class="activity-select-header">
          <option></option>
          <option value="{{smp.id}}" ng-repeat="smp in ctrl.displayData.smps track by $index">
            {{smp.name}}
          </option>
        </select>
      </div>
    </th>
    <th ng-if="corporate || admin">
      <div>
        <select st-search="activityStatus" class="activity-select-header">
          <option value="">Blank</option>
          <option value="-">
            Any
          </option>
          <option value="notShipped">
            Not shipped
          </option>
          <option value="shipped">
            In transit to CQ
          </option>
          <option value="receivedCq">
            Received by CQ
          </option>
          <option value="sentToSmp">
            Sent to SMP
          </option>
          <option value="receivedSmp">
            Received by SMP
          </option>
          <option value="rejected">
            Rejected by CQ
          </option>
          <option value="needsAttention">
            Needs Attention
          </option>
        </select>
      </div>
    </th>
    <th ng-if="admin && !revised">
      <div>
        <input st-search="paidStatus" class="input-sm form-control" type="search"/>
      </div>
    </th>
    <th ng-if="admin && !revised && !customerDenial">
      <div>
        <input st-search="ach" class="input-sm form-control" type="search"/>
      </div>
    </th>
    <th ng-if="corporate && !customerDenial">
      <div>
        <input st-search="cqAch" class="input-sm form-control" type="search"/>
      </div>
    </th>
    <th ng-if="revised && !customerDenial">
      <div>
        <input st-search="orderNumber" class="input-sm form-control" type="search"/>
      </div>
    </th>
    <th ng-if="revised && !customerDenial">
      <div>
        <input st-search="smpAch" class="input-sm form-control" type="search"/>
      </div>
    </th>
    <th ng-if="revised && !customerDenial">
      <div>
        <input st-search="cqAch" class="input-sm form-control" type="search"/>
      </div>
    </th>
    <th ng-if="revised && !customerDenial">
      <div></div>
    </th>
    <th ng-if="revised && !customerDenial">
      <div>
        <input st-search="adminActivityNote" class="input-sm form-control" type="search"/>
      </div>
    </th>
  </tr>
  </thead>
  <!--/Head-->
  <tbody>
  <!--Data-->
  <tr ng-repeat="row in displayData.display" select-row="row" ctrl="ctrl" ng-class="{credited: row.credited, rejected: row.rejected, isPayment: row.isPayment}">
    <!--id-->
    <td ng-if="corporate && ctrl.displayData.company._id === '587fce2bd01c3fe03bdf85ce'">
      <div>{{row._id}}</div>
    </td>
    <!--date-->
    <td>
      <div ng-if="!row.isPayment">{{row.created | date:'M/d/yyyy':'UTC'}}</div>
      <div ng-if="row.isPayment">PAYMENT</div>
    </td>
    <!--Date rejected/date paid-->
    <td ng-if="customerDenial">
      <div ng-if="!row.isPayment && !row.credited">{{row.rejectedDate | date:'M/d/yyyy':'UTC'}}</div>
      <div ng-if="!row.isPayment && row.credited">{{row.creditedDate | date:'M/d/yyyy':'UTC'}}</div>
      <div ng-if="row.isPayment">{{row.created | date:'M/d/yyyy':'UTC'}}</div>
    </td>
    <!--Batch-->
    <td ng-if="!customerDenial">{{row.batch.batchId}}</td>
    <!--Prefix-->
    <td ng-if="admin || ctrl.alternativeGcmgr">{{row.transaction.prefix}}</td>
    <!--Company-->
    <td ng-if="admin">{{row.company.name}}</td>
    <!--Store-->
    <td>{{row.store.name}}</td>
    <!--Retailer-->
    <td>{{row.retailer.name}}</td>
    <!--UserName-->
    <td ng-if="corporate">{{row.user.firstName}} {{row.user.lastName}}</td>
    <!--CustomerName-->
    <td ng-if="corporate">{{row.customer.fullName}}</td>
    <!--Number-->
    <td>{{row.card.number}}</td>
    <!--Pin-->
    <td>{{row.card.pin}}</td>
    <!--Balance-->
    <td>{{row.balance || row.card.balance | currency}}</td>
    <!--SellRate-->
    <td ng-if="admin">{{row.liquidationRate * 100 | number:0}}% {{row.merchandise ? '(M)' : ''}}</td>
    <!--CqPaid-->
    <td ng-if="revised">{{row.cqPaid | currency}}</td>
    <!--LiquidationSoldFor-->
    <td ng-if="revised">{{row.liquidationSoldFor | currency}}</td>
    <!--VerifiedBalance-->
    <td>
      <div ng-hide="row.missingGcmgr" ng-if="admin">
        <input ng-model="row.verifiedBalance" ng-change="setValue({row: row, type: 'verifiedBalance'})" ng-click="ctrl.preventDefault($event)">
      </div>
      <div ng-hide="row.missingGcmgr" ng-if="corporate">
        {{row.verifiedBalance | currency}}
      </div>
      <div ng-hide="row.missingGcmgr" ng-if="corporate && !row.verifiedBalance"></div>
    </td>
    <!--Reject/payment amount-->
    <td ng-if="customerDenial">
      <div ng-if="!row.isPayment && !row.credited">({{row.rejectAmount | currency}})</div>
      <div ng-if="!row.isPayment && row.credited">{{row.creditAmount | currency}}</div>
      <div ng-if="row.isPayment">{{row.amount | currency}}</div>
    </td>
    <!--BuyRate-->
    <td ng-if="corporate && !ctrl.displayData.hideBuyRates"><div ng-if="!row.isPayment">{{(row.buyRate > 1 ? row.buyRate : row.buyRate * 100) | number:2}}%</div></td>
    <!--BuyAmount-->
    <td ng-if="corporate && !ctrl.displayData.hideBuyRates">{{row.buyAmount | currency}}</td>
    <!--CorporateSellRate-->
    <td ng-if="corporate"><div ng-if="!row.isPayment">{{(row.corpRateThisInventory * 100) | number:2}}% {{row.merchandise ? '(M)' : ''}}</div></td>
    <!--CqPaidCorp-->
    <td ng-if="corporate">{{row.cqPaid | currency}}</td>
    <!--ServiceFee-->
    <td ng-if="admin && !row.isTransaction">{{row.serviceFee | currency}}</td>
    <!--TransactionServiceFee-->
    <td ng-if="admin && row.isTransaction">{{row.transaction.serviceFee | currency}}</td>
    <!--NetAmount-->
    <td ng-if="!row.isTransaction">{{row.netAmount | currency}}</td>
    <!--NetPayout-->
    <td ng-if="row.isTransaction">{{row.transaction.netPayout | currency}}</td>
    <td ng-if="corporate && !customerDenial && row.displayMargin">{{row.companyMargin || 0 | number:2}}%</td>
    <td ng-if="corporate && !customerDenial && !row.displayMargin">N/A</td>
    <!--Type-->
    <td>{{row.type}}</td>
    <td ng-if="revised">{{row.smp}}</td>
    <td>
      <select ng-model="row.activityStatus" ng-change="setValue({row: row, type: 'activityStatus'})"
              ng-click="ctrl.preventDefault($event)" ng-if="revised">
        <option value="notShipped">
          Not shipped
        </option>
        <option value="shipped">
          In transit to CQ
        </option>
        <option value="receivedCq">
          Received by CQ
        </option>
        <option value="sentToSmp">
          Sent to SMP
        </option>
        <option value="receivedSmp">
          Received by SMP
        </option>
        <option value="rejected">
          Rejected by CQ
        </option>
        <option value="needsAttention">
          Needs Attention
        </option>
      </select>
      <div ng-if="corporate">{{row.activityStatus}}</div>
    </td>
    <td ng-if="admin && !revised">
      <select ng-hide="row.missingGcmgr" ng-change="setValue({row: row, type: 'paidStatus'})" ng-model="row.paidStatus" ng-click="ctrl.preventDefault($event)">
        <option value="smpUnpaid">
          SMP Unpaid
        </option>
        <option value="smpPaid">
          SMP Paid
        </option>
        <option value="cqPaid">
          CQ Paid
        </option>
      </select>
    </td>
    <td ng-if="!revised && !corporate && !customerDenial">
      <div ng-hide="row.missingGcmgr">
        <input ng-model="row.achNumber" ng-change="setValue({row: row, type: 'achNumber'})" ng-if="admin" ng-click="ctrl.preventDefault($event)">
        <div ng-if="corporate">{{row.achNumber}}</div>
      </div>
    </td>
    <!--Order number-->
    <td ng-if="revised && !customerDenial">
      <div>
        <input ng-model="row.orderNumber" ng-change="setValue({row: row, type: 'orderNumber'})" ng-click="ctrl.preventDefault($event)">
      </div>
    </td>
    <!--SMP ACH-->
    <td ng-if="revised && !customerDenial">
      <div>
        <input ng-model="row.smpAch" ng-change="setValue({row: row, type: 'smpAch'})" ng-click="ctrl.preventDefault($event)">
      </div>
    </td>
    <!--CQ ACH-->
    <td ng-if="!customerDenial">
      <div ng-if="revised">
        <input ng-model="row.cqAch" ng-change="setValue({row: row, type: 'cqAch'})" ng-click="ctrl.preventDefault($event)">
      </div>
      <div ng-if="corporate">{{row.cqAch}}</div>
    </td>
    <!--Deduction-->
    <td ng-if="!customerDenial">
      <div ng-if="revised && row.rejected">
        <input ng-model="row.deduction" ng-change="setValue({row: row, type: 'deduction'})" ng-click="ctrl.preventDefault($event)">
      </div>
      <div ng-if="corporate">{{row.deduction}}</div>
    </td>
    <!--Admin activity note-->
    <td ng-if="!customerDenial">
      <div ng-if="revised">
        <input ng-model="row.adminActivityNote" ng-change="setValue({row: row, type: 'adminActivityNote'})" ng-click="ctrl.preventDefault($event)">
      </div>
    </td>
    <!--Rejection running total for single customer denial mode-->
    <td ng-if="customerDenial">{{row.rejectionRunningTotal | currency}}</td>
  </tr>
  <!--/Data-->
  <!--Page Totals-->
  <tr ng-if="displayData.safe.length && !customerDenial">
    <td><strong>PAGE TOTALS</strong></td>
    <td></td>
    <td></td>
    <td></td>
    <td ng-if="admin"></td>
    <td></td>
    <td></td>
    <td ng-if="revised"></td>
    <td ng-if="corporate"></td>
    <td ng-if="corporate"></td>
    <td>BAL: {{totals.pageTotal.balance | currency}}</td>
    <td ng-if="revised"></td>
    <td ng-if="revised">{{totals.pageTotal.cqPaid | currency}}</td>
    <td ng-if="revised">{{totals.pageTotal.sold_for | currency}}</td>
    <td>VB: {{totals.pageTotal.verifiedBalance | currency}}</td>
    <td ng-if="!revised"></td>
    <td ng-if="admin && !revised"></td>
    <td ng-if="corporate && !ctrl.displayData.hideBuyRates">BUY: {{totals.pageTotal.buyAmount | currency}}</td>
    <td ng-if="corporate"></td>
    <td ng-if="corporate">CQP: {{totals.pageTotal.cqPaid | currency}}</td>
    <td ng-if="admin">{{totals.pageTotal.serviceFee | currency}}</td>
    <td>NET: {{totals.pageTotal.netAmount | currency}}</td>
    <td ng-if="corporate"></td>
    <td></td>
    <td ng-if="revised"></td>
    <td></td>
    <td ng-if="!revised"></td>
    <td ng-if="revised"></td>
    <td ng-if="revised"></td>
    <td ng-if="revised"></td>
    <td ng-if="revised"></td>
  </tr>
  <!--/Page Totals-->
  <!--Grand Totals-->
  <tr ng-if="displayData.safe.length && !customerDenial">
    <td><strong>GRAND TOTALS</strong></td>
    <td></td>
    <td></td>
    <td ng-if="admin"></td>
    <td></td>
    <td></td>
    <td></td>
    <td ng-if="revised"></td>
    <td ng-if="corporate"></td>
    <td ng-if="corporate"></td>
    <td>BAL: {{totals.grandTotal.balance | currency}}</td>
    <td ng-if="revised"></td>
    <td ng-if="revised">{{totals.grandTotal.cqPaid | currency}}</td>
    <td ng-if="revised">{{totals.grandTotal.soldFor | currency}}</td>
    <td>VB: {{totals.grandTotal.verifiedBalance | currency}}</td>
    <td ng-if="!revised"></td>
    <td ng-if="admin && !revised"></td>
    <td ng-if="corporate && !ctrl.displayData.hideBuyRates">BUY: {{totals.grandTotal.buyAmount | currency}}</td>
    <td ng-if="corporate"></td>
    <td ng-if="corporate">CQP: {{totals.grandTotal.cqPaid | currency}}</td>
    <td ng-if="admin">{{totals.grandTotal.serviceFee | currency}}</td>
    <td>NET: {{totals.grandTotal.netAmount | currency}}</td>
    <td ng-if="corporate"></td>
    <td></td>
    <td ng-if="revised"></td>
    <td></td>
    <td ng-if="!revised"></td>
    <td ng-if="revised"></td>
    <td ng-if="revised"></td>
    <td ng-if="revised"></td>
    <td ng-if="revised"></td>
  </tr>
  <!--/Grand Totals-->
  </tbody>
  <tfoot>
  <tr>
    <td colspan="20" class="text-center">
      <div st-pagination="" st-items-by-page="displayData.perPage" class="pull-left"></div>
    </td>
  </tr>
  </tfoot>
</table>

<!--Mass update-->
<cq-modal modal-id="mass-update-confirm" submit-button="massUpdate()" modal-title="Mass update selected cards?"></cq-modal>
<cq-modal modal-id="mass-update-success" hide-submit="true" modal-title="Mass update successful"></cq-modal>
<cq-modal modal-id="mass-update-failure" hide-submit="true" modal-title="Mass update failed"></cq-modal>
